@import "tailwindcss";

.prof {
  /* Firefox */
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE/Edge */

  /* Webkit (Chrome, Safari) */
}
.prof::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

[id] {
  scroll-margin-top: 100px; /* Adjust for header height */
}

/* globals.css or tailwind.config */
.group:hover .blue-500 {
  shadow: 0 0 8px #00c6ff;
}

.light {
  background-color: #fff;
  color: #000;
  transition: 0.3s ease-in-out;

  .stat {
    color: #3b82f6;
  }
}

.dark {
  background-color: #000;
  color: #fff;
  transition: 0.3s ease-in-out;

  .stat {
    background-color: #3b82f6;
    color: white;
  }

  .stat2 {
    color: white;
  }

  .stat3 {
    color: rgb(236, 236, 236);
  }

  .project {
    border: 1px solid #3b82f6;
    border-radius: 50%;
    height: 100%;
  }
}
